<div class="col-xs-6 main-left">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Train <span class="glyphicon glyphicon-paperclip"></span></h4></div>
        <div class="panel-body">
            <h3 class="subTitleFont">Machine Learning Methods</h3>
            <div class="form-group">
                <div class="label-grp col-xs-4">
                    <label>
                        <span class="text-info">AutoGluon</span>
                    </label>
                </div>
            </div>
            <hr />
            <h3 class="subTitleFont">Cutoff Month</h3>
            <div class="row">
                <div class="form-inline col-xs-10">
                    <input type="text" class="form-control" placeholder="Cutoff Months" style="width: 100%;" v-model="cutoff_month" @input="checkNum(cutoff_month,'part')" @change="checkNum(cutoff_month, 'done')" >
                </div>
                <div class="col-xs-2" style="padding-left:0px;" >
                    <span class="glyphicon glyphicon-ok-circle text-success" style="line-height:34px;" v-if="cutoff_month"></span>
                    <span class="text-danger" style="line-height:34px;" v-else>required</span>
                </div>
            </div>
            <hr />
            <h3 class="subTitleFont">Modeling Data</h3>
            <div class="form-group">
                <div class="col-xs-10">
                    <input id="modeldata_input" class="fileinput file" type="file" data-preview-file-type="text" name="file" >
                    <input id="modeldata_input_val" type="hidden" v-model="modeldata_input_val" >
                </div>
                <div class="col-xs-2" style="line-height:34px; padding-left:0px;">
                    <span class="glyphicon glyphicon-ok-circle text-success" v-if="modeldata_input_val!=''" style="line-height:34px;"></span>
                    <span class="text-danger" style="line-height:34px;" v-else >required</span>
                </div>
            </div>
            <h3 class="subTitleFont">File format descriptions</h3>
            <div class="form-group">
                <div class="col-xs-10">
<pre style="white-space: break-spaces; font-size:12px; line-height:18px;">
The file is divided into multiple columns by commas, the first row is the column name.

1. sampleID is sample name, values can not be repeated, does not start with a number.
2. survivalosT is overall survival time of AML patients. The value is a number, indicating the number of survival months after diagnosis.
3. survivalosE is overall survival status of AML patients, values is 0/1, 0 means alive, 1 means dead.
4. dataset is the name of the dataset, which is used to identify samples from different sources. If it is the same batch of data, all values can be directly set to test
5. cli_age is the age at diagnosis.
6. cli_Gender is the gender, the value is 0/1, 0 is male, and 1 is female.
7. mut_xxxx, e.g. 'mut_NPM1', the column name of mutation features are prefixed with 'mut_', the value is 0/1, 0 means normal, 1 means mutation.
8. exp_xxxx, e.g. 'exp_NPM1', the column name of expression features the feature are prefixed with 'exp_', value is the log2 transfermed RPKM.

The file name must end with .csv/.csv.gz
</pre>
                </div>
            </div>
            <h3 class="subTitleFont">Example File</h3>
            <div class="form-group">
                <div class="col-xs-10">
                    <p><a href="data/example_train_mut.csv.gz">example_train_mut.csv.gz <span class="glyphicon glyphicon-link"></span></a></p>
                    <p><a href="data/example_train_exp.csv.gz">example_train_exp.csv.gz <span class="glyphicon glyphicon-link"></span></a></p>
                </div>
            </div>
            <hr />
            <div class="row subbtns">
                <div class="col-xs-10">
                    <div class="pull-right" style="padding-right:0px; padding-left: 15px;">
                        <button type="button" class="btn btn-danger" :disabled=" cutoff_month== '' | modeldata_input_val=='' " @click="submitModel()"
                        >Submit</button>
                    </div>
                    <div class="pull-right" style="padding-right:0px;">
                        <button type="button" class="btn btn-default" @click="demo"
                        >Demo</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 main-right">
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Trained model <span class="glyphicon glyphicon-paperclip"></span></h4></div>
        <div class="panel-body">
            <h3 class="subTitleFont">Model details</h3>
            <div class="row">
                <div class="form-group form-inline col-xs-12">
                    <input type="text" class="form-control" id="hisSearch" placeholder="Model ID" v-model="jobid" style="width:100%; margin-right:-50px;" name="modelid">
                    <button type="submit" style="width:50px;" class="btn btn-default" @click="updateModelRes(jobid)"><span class="glyphicon glyphicon-search"></span>&nbsp;</button>
                </div>
            </div>
            <div :class="{'hide': modelRes.state=='done'|| Object.keys(modelRes).length==0, 'show':modelRes.state!='done' && Object.keys(modelRes).length>0}">
                <p style="padding:10px;"><span class="text-muted loading_dot">{{ modelRes.start }} - {{ modelRes.end }} ({{ modelRes.state }})</span></p>
            </div>
            <div :class="{'hide': modelRes.state!='done'}">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-bordered " style="width:inherit; min-width: 300px; font-size: 14px;">
                            <tr><td class="modelResTabLeft">Model ID:</td>                  <td class="modelResTabRight">{{jobid}}&nbsp;<span class="label label-success" v-if="jobid==demo_id">demo</span>&nbsp;<a class="btn btn-info" style="padding:1px 10px; font-size:12px;" :href="'?idx=Predict&data_type=pri&pri_id=' + jobid">Go to Predict</a></td></tr>
                            <tr><td class="modelResTabLeft">Model Data:</td>                <td class="modelResTabRight"><a :href="modelRes.inputZip" target="_blank">Zip</a></td></tr>
                            <tr><td class="modelResTabLeft">Cutoff Month:</td>              <td class="modelResTabRight">{{ modelRes['Cutoff Month'] }}</td></tr>
                            <tr><td class="modelResTabLeft">Method:</td>                    <td class="modelResTabRight">{{ modelRes.modelType }}</td></tr>
                            <tr><td class="modelResTabLeft">Clinical Factor:</td>           <td class="modelResTabRight">{{ modelRes['Clinical Factor'] }}</td></tr>
                            <tr><td class="modelResTabLeft">Mutation Factor:</td>           <td class="modelResTabRight">{{ modelRes['Mutation Factor'] }}</td></tr>
                        </table>
                    </div>
                </div>
                <hr />
                <h3 class="subTitleFont">Model perfermance</h3>
                <h4 class="text-muted">ROC curves of 10-fold cross validation test</h4>
                <div class="row">
                    <div id="modelRessvg" class="col-xs-12"></div>
                </div>
                <hr />
                <h3 class="subTitleFont">Result table</h3>
                <h4 class="text-muted">Evaluation indicators for 10-fold cross validation test</h4>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-default col-xs-12" style="width:inherit; min-width: 300px; font-size: 14px;">
                            <tr v-for="(yy, xx) in modelRes.predict"><td class="modelResTabLeft">{{xx}}</td><td class="modelResTabRight">{{yy}}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

